* {
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: #0f2027;
  background: -webkit-linear- gradient(to right, #0f2027, #203a43, #2c5364);
  background: linear-gradient(to top, #0f2027, #203a43, #2c5364);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
blockquote {
  font-size: 48px;
  padding: 30px 200px;
}
cite {
  display: block;
  text-align: right;
  font-family: Verdana, Arial, sans-serif;
  margin: 16px 0;
  font-size: 16px;
  color: #aaa;
  font-style: normal;
}
blockquote q {
  font-family: Georgia, serif;
  font-style: italic;
  letter-spacing: 2px;
}
q {
  quotes: "“" "”" "‘" "’";
}
q:before {
  content: open-quote;
  margin-right: 13px;
}
q:after {
  content: close-quote;
}
q:before,
q:after {
  color: #ccc;
  font-size: 64px;
}

button {
  font-size: 20px;
  padding: 15px;
  border-radius: 10px 0;
  color: #2c3e50;
  border: 1px solid #0f2027;
  background: #bdc3c7;
  transition: color 1s, background 1s;
}

button:hover {
  color: #bdc3c7;
  background: #2c3e50;
}
